body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


::-webkit-scrollbar {
    width: 15px; 
}

::-webkit-scrollbar-track {
    background: #333; /* Χρώμα φόντου του track */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Χρώμα του thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Χρώμα του thumb κατά το hover */
}

.dark-mode {
background-color: #282828; /* Σκοτεινό φόντο */
color: #ffffff; /* Λευκό χρώμα κειμένου */

.footer {
    background-color: #333;
    border-top: 1px solid white;
}

.todiv span {
    color: white;
}

.header {
    border-bottom: 1px solid white;
}

.contactdiv {
   color: white;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 15px;
}  

.contactdiv:hover {
box-shadow: rgba(255, 255, 255, 0.9) 0px 5px 15px;
}

.contactdiv p {
    color: white;
    }



}

.header {
margin-top: 0px;
background-color: #333;
color: #fff;
height: 50px;
border-bottom: 2px solid black;
display: flex;
justify-content: space-between;
align-items: center;
}

.container1 {
    margin-top: 3%;
    width: 60%;
    margin-left: 30%;
}

.left-item {
flex: 1;
}

.right-item {
text-align: right;
margin-right: 30px;
}

.mode {
cursor: pointer;
width: 2%;
margin-right: 30px;
padding: 0px 0px;
}

.heikona {
margin-top: 5px;
padding: 30px;
}


#darkmode {
display: block;
}

#lightmode {
display: none;
}

.footer {
z-index: 500;
display: flex;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
border-top: 2px solid black;
height: auto;
background-color: white;
color: #333;
text-align: center;
text-decoration: none;
}

.todiv{
padding: 10px;
text-decoration: none;
}

.toa {
cursor: pointer;
text-decoration: none;
}

.toa1 {
color: green;
}

.todiv img {
width: 5%;
}

.todiv span {
font-size: 1em;
color: #333;
}

#toepi {
border-bottom : 2px solid blue;
}

.left-item p {
text-decoration: none;
color: white;
padding: 20px;
font-weight: 500;
font-size: 18px;
}

.contactdiv {
    cursor: pointer;
    margin-bottom: 30px;
    height: 50px;
    width: 60%;
    display: flex;
    border: 2px solid white;
    border-radius: 60px;
    padding: 10px; 
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}  

.contactdiv:hover {
box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}

.contactdiv a {
color: black;
display: flex;
text-decoration: none;
}

.contactdiv img {
width: 40%;
} 

.contactdiv p {
margin-left: 40px;
font-weight: 550;
font-size: 18px;
}

/* Κανόνες CSS για tablet */
@media (min-width: 601px) and (max-width: 768px) {

.todiv img {
    width: 15%;
}

.heikona {
margin-left: 0%;
}

.tologoA {
    width: 40%;
} 

.todiv span {
    font-size: 1em;
    color: #333;
}

.divmaximg {
    display: flex;
    position: fixed;
    top: 20%;
    left: 20%;
    transform: translate(-10%, -10%);
}

.maxlogo {
    margin-left: 0%;
    width: 100%;
    z-index: 999;
    border-radius: 100%;
}

.mode {
width: 4%;
}


.container1 {
    margin-top: 10%;
    width: 90%;
    margin-left: 5%;
}

.contactdiv {
    width: 95%;
    height: 40px;
}  

.contactdiv img {
    width: 30%;
    } 

    .contactdiv p {
        margin-top: 10px;
        }

}

/* Κανόνες CSS για κινητά */
@media (max-width: 600px) {


.todiv img {
    width: 20%;
}

.heikona {
margin-left: 0%;
}

.tologoA {
    width: 40%;
}

.todiv span {
    font-size: 1em;
    color: #333;
}

.divmaximg {
    display: flex;
    position: fixed;
    top: 30%;
    left: 30%;
    transform: translate(-20%, -10%);
}

.maxlogo {
    margin-left: 0%;
    width: 100%;
    z-index: 999;
    border-radius: 100%;
}


.mode {
width: 6%;
}



.NasaImg {
width: 90%;
border: 2px solid darkgrey;
border-radius: 5px;
}

.kinito p {
width: 90%;
margin-left: 5%;
}

.container1 {
    margin-top: 10%;
    width: 90%;
    margin-left: 5%;
}

.contactdiv {
    width: 95%;
    height: 50px;
}  

    .contactdiv img {
    width: 10%;
    } 

    .contactdiv p {
        margin-top: 10px;
        }

}
