body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


::-webkit-scrollbar {
    width: 15px; 
}

::-webkit-scrollbar-track {
    background: #333; /* Χρώμα φόντου του track */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Χρώμα του thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666; /* Χρώμα του thumb κατά το hover */
}

.dark-mode {
background-color: #282828; /* Σκοτεινό φόντο */
color: #ffffff; /* Λευκό χρώμα κειμένου */

.footer {
    background-color: #333;
    border-top: 1px solid white;
}

.todiv span {
    color: white;
}

.header {
    border-bottom: 1px solid white;
}
}

.header {
margin-top: 0px;
background-color: #333;
color: #fff;
height: 50px;
border-bottom: 2px solid black;
display: flex;
justify-content: space-between;
align-items: center;
}

.left-item {
flex: 1;
}

.right-item {
text-align: right;
margin-right: 30px;
}

.mode {
cursor: pointer;
width: 2%;
margin-right: 30px;
padding: 0px 0px;
}

.heikona {
margin-top: 5px;
padding: 30px;
}


#darkmode {
display: block;
}

#lightmode {
display: none;
}

.footer {
z-index: 500;
display: flex;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
border-top: 2px solid black;
height: auto;
background-color: white;
color: #333;
text-align: center;
text-decoration: none;
}

.todiv{
padding: 10px;
text-decoration: none;
}

.toa {
cursor: pointer;
text-decoration: none;
}

.toa1 {
color: green;
}

.todiv img {
width: 5%;
}

.todiv span {
font-size: 1em;
color: #333;
}

#toepi {
border-bottom : 2px solid blue;
}

.left-item p {
text-decoration: none;
color: white;
padding: 20px;
font-weight: 500;
font-size: 18px;
}

.container {
width: 80%;
margin-left: 0%;
max-width: 1100px;
margin: 0 auto;
padding: 0px;
}

.NasaImg {
cursor: pointer;
width: 50%;
border: 2px solid darkgrey;
border-radius: 5px;
}

.kinito {
display: none;
}

.kinito p {
font-weight: 500;
font-size: 18px;
}

.loading{
display: block;
position: absolute;
top: 45%;
left: 65%;
transform: translate(-50%, -50%);
}

.loading img{
width: 20%;
}

.toerror{
display: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.toerror img{
width: 100%;
}

.divmaximg {
z-index: 999;
display: flex;
position: fixed;
top: 33%;
left: 30%;
transform: translate(-20%, -30%);
}

.modal{
display: none;
overflow: hidden;
}

.overlay {
z-index: 900;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 1);
}

.NasaImg1 {
border: 2px solid lightgray;
margin-left: 0%;
width: 100%;
z-index: 999;
}


/* Κανόνες CSS για tablet */
@media (min-width: 601px) and (max-width: 768px) {
.container {
    width: 100%;
    margin-left: 0%;
    padding: 0px;
}

.todiv img {
    width: 15%;
}

.heikona {
margin-left: 0%;
}

.tologoA {
    width: 40%;
} 

.todiv span {
    font-size: 1em;
    color: #333;
}

.divmaximg {
    display: flex;
    position: fixed;
    top: 20%;
    left: 20%;
    transform: translate(-10%, -10%);
}

.maxlogo {
    margin-left: 0%;
    width: 100%;
    z-index: 999;
    border-radius: 100%;
}

.mode {
width: 4%;
}

.container {
    width: 100%;
    margin-left: 0%;
    padding: 0px;
}
}

/* Κανόνες CSS για κινητά */
@media (max-width: 600px) {
.container {
    width: 100%;
    margin-left: 0%;
    padding: 0px;
}

.todiv img {
    width: 20%;
}

.heikona {
margin-left: 0%;
}

.tologoA {
    width: 40%;
}

.todiv span {
    font-size: 1em;
    color: #333;
}

.divmaximg {
    display: flex;
    position: fixed;
    top: 30%;
    left: 30%;
    transform: translate(-20%, -10%);
}

.maxlogo {
    margin-left: 0%;
    width: 100%;
    z-index: 999;
    border-radius: 100%;
}


.mode {
width: 6%;
}

.container {
    width: 100%;
    margin-left: 0%;
    padding: 0px;
}


.NasaImg {
width: 90%;
border: 2px solid darkgrey;
border-radius: 5px;
}

.kinito p {
width: 90%;
margin-left: 5%;
}

.loading{
position: absolute;
top: 45%;
left: 60%;
transform: translate(-50%, -50%);
}

.loading img{
width: 60%;
}

.divmaximg {
z-index: 999;
display: flex;
position: fixed;
top: 40%;
left: 10%;
transform: translate( -6%, -40%);
}

}